{% extends 'uploaddownload/index.html' %}
{% block content %}

<form class = "search-bar" method = "get">Search Food :
<input type ="text" name ="q" placeholder="Search.." value="{{query}}">
</form>


<table class="table">

<thead>
	<tr>
		<th>Title</th>
		<th>Name</th>
		<th>Download</th>

		<th>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Delete</th>
	</tr>
</thead>

<tbody>
	{% for food in food  %}
	<tr>
		<td>{{food.title}}</td>
		<td>{{food.name}}</td>
		<td>{{food.file}}</td>
		<!-- <td><a href="{{food.pdf.url}}">Download PDF</a></td> -->
		<td>
			<a href="{{food.file.url}}" download>Download File</a>
		</td>
		<td>
			<form method="POST", action="{% url 'uploaddownload:delete_data' food.pk %}">
				{% csrf_token %}
				<button type="submit" class="btn btn-primary btn-sm">Delete</button>
			</form>
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>

<a href="/list_food/pagination/5/1">1</a>
<a href="/list_food/pagination/5/2">2</a>
<a href="/list_food/pagination/5/3">3</a>


{% endblock %}

