{% extends 'uploaddownload/index.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<body>


<form class = "search-bar" method = "get">Search Food :
<input type ="text" name ="q" placeholder="Search.." value="{{query}}">
</form>


<table class="table">

<thead>
	<tr>
		<th>Title</th>
		<th>Name</th>
		<th>Download</th>

		<th>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Delete</th>
	</tr>
</thead>

<tbody>
	{% for food in food  %}
	<tr>
		<td>{{food.title}}</td>
		<td>{{food.name}}</td>
		<td>{{food.file}}</td>
		<!-- <td><a href="{{food.pdf.url}}">Download PDF</a></td> -->
		<td>
			<a href="{{food.file.url}}" download>Download File</a>
		</td>
		<td>
			<form method="POST", action="{% url 'uploaddownload:delete_data' food.pk %}">
				{% csrf_token %}
				<button type="submit" class="btn btn-primary btn-sm">Delete</button>
			</form>
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>
<style type="text/css">
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-size: 22px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
	
</style>

<div class="pagination">
  <a href="#">&laquo;</a>
<a href="/list_food/pagination/1" class="active">1</a>
<a href="/list_food/pagination/2">2</a>
<a href="/list_food/pagination/3">3</a>
 <a href="#">&raquo;</a>
</div>


</body>
</html>

{% endblock %}

